<div class="container" style="margin-top: 30px;width: 1100px;
display: flex;flex-direction: column;justify-content: center;align-items: center;background-color: white;border-radius: 10px;">
  <h1 style="font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;margin: 10px;">Add Category</h1>
    <div class="row text-center">

      <!-- show error alert -->
      <div *ngIf="errMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{errMsg}}</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div *ngIf="successMsg"  class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{successMsg}}</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

      
      <form [formGroup]="cateForm" >
        <div class="col">
          <input type="text" class="formcontrol"formControlName="category" placeholder="Enter the category"/>
          <input type="text" class="formcontrol"formControlName="image" placeholder="Enter the link address for the image"/>
          <input type="text" class="formcontrol"formControlName="name" placeholder="Enter the name of the classroom"/>

        </div>
        <div class="col-md-9 mt-2"*ngIf="!getparamid ">
          <button class="btn btn-primary btn-lg"(click)="quizSubmit()" style="font-family: 'Josefin Sans', sans-serif;
          font-weight: bold;">Add Category</button>
        </div>
      </form>
        <!-- <div class="col-md-4 mt-2" *ngIf="getparamid">
          <button class="btn btn-success btn-lg"(click)="updatequiz()">Update Quiz</button>
        </div> -->
        <div class="cont" style="margin-top: 50px;display: flex;flex-direction: column;justify-content: center;align-items: center;">
          <div class="row-container1" style="background: transparent;">
            <div class="row-item">
              ID
            </div>
            <div class="row-item">
             Category
            </div>
            <div class="row-item">
             Delete
            </div>
          </div>
          
              <div class="row-container" *ngFor="let categ of cate;">
                <div class="row-item"><p>{{categ.id}}</p></div>
                <div class="row-item"><p>{{categ.category}}</p></div>
            
                <div class="row-item"><button class="btn1" (click)="deletecat(categ.id)">Delete</button></div>

         
           
            </div>
        </div>
      
    </div>
  </div>
  
