<body style="margin-top: 30px;width: 1100px;
display: flex;flex-direction: column;justify-content: center;align-items: center;background-color: white;border-radius: 10px;">
<div class="container"  >
    <h1 style="font-family: 'Josefin Sans', sans-serif;font-weight: bold;">Add User</h1>
      <div class="row text-center">
  
        <!-- show error alert -->
        
        <div *ngIf="errMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{errMsg}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <div *ngIf="successMsg"  class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{successMsg}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <!-- close error msg -->
    
        <form [formGroup]="userForm" >
          <div class="col-md-4 mt-2">
            <input type="text" class="formcontrol"formControlName="username" placeholder="Enter the username to add"/>
          </div>
          <div class="col-md-4 mt-2"*ngIf="!getparamid ">
            <button class="btn btn-primary btn-lg"(click)="quizSubmit()">Add User</button>
          </div>
          <!-- <div class="col-md-4 mt-2" *ngIf="getparamid">
            <button class="btn btn-success btn-lg"(click)="updatequiz()">Update Quiz</button>
          </div> -->
  
  
        </form>
       
    </div>
  </div>
  <div class="cont" style="display: flex;flex-direction: row;">
  <div class="container2">
  
    <h1 style="font-family: 'Josefin Sans', sans-serif;font-weight: bold;margin: 5px;">Userlist</h1>
    <div *ngFor="let us of user;let i=index" class="user-card" >
        <!-- <button class="card" (click)="usrr(us.id)"> -->
            <div class="card-body">
              <h3 class="card-title">{{ i + 1 }}.  {{ us.username }}</h3>
            </div>
          <!-- </button> -->
    </div>
    
</div>
<div class="container3">
<h1 style="font-family: 'Josefin Sans', sans-serif;font-weight: bold;margin: 5px;">All User</h1>
    <div *ngFor="let all of alluser;let i=index" class="user-card" >
        <!-- <button class="card" (click)="usrr(us.id)"> -->
            <div class="card-body">
              <h3 class="card-title">{{ i + 1 }}.  {{ all.username }}</h3>
            </div>
          <!-- </button> -->
    </div>
  </div>
  </div>
</body>
  
  
  