

  <!-- <div *ngIf="successMsg"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{successMsg}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div> -->

    <div class="container">
      <h1 style="font-family: 'Josefin Sans', sans-serif;font-weight: bold;margin: 10px;">Mark</h1>
      <div class="row-container1" style="background: transparent;">
        <div class="row-item">
          Username
        </div>
        <div class="row-item">
          Score

        </div>
        <div class="row-item">
          Category
        </div>
        <div class="row-item">
          Difficulty
        </div>
        <div class="row-item">
         Delete
        </div>
      </div>
      <div class="row-container" *ngFor="let quiz of readquiz">
        
          
        <div class="row-item"><p>{{ quiz.username }}</p></div>
        <div class="row-item"><p>{{ quiz.points }}</p></div>
        <div class="row-item"><p>{{ quiz.category }}</p></div>
        <div class="row-item"><p>{{ quiz.difficulty }}</p></div>
        <div class="row-item"><button class="btn" (click)="deleteId(quiz.id)">Delete</button></div>
              
              
            
        </div>
      </div>
  