<div class="container">
  <h1 style="font-family: 'Josefin Sans', sans-serif;font-weight: bold;margin: 10px;">Add User</h1>
    <div class="row text-center">

      <!-- show error alert -->
      
      <div *ngIf="errMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{errMsg}}</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div *ngIf="successMsg"  class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{successMsg}}</strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <!-- close error msg -->
  
      <form [formGroup]="userForm" >
        <div class="col">
          <input type="text" class="formcontrol"formControlName="username" placeholder="Enter the username"/>
        </div>
        <div class="col-md-8 mt-2"*ngIf="!getparamid ">
          <button class="btn btn-primary btn-lg" style="font-family: 'Josefin Sans', sans-serif;font-weight: bold;" (click)="quizSubmit()">Add User</button>
        </div>
        <!-- <div class="col-md-4 mt-2" *ngIf="getparamid">
          <button class="btn btn-success btn-lg"(click)="updatequiz()">Update Quiz</button>
        </div> -->


      </form>
     
<div class="cont" style="margin-top: 30px;display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <div class="row-container1" style="background: transparent;">
          <div class="row-item">
            ID
          </div>
          <div class="row-item">
           Username
          </div>
          <div class="row-item">
           Delete
          </div>
        </div>

      
          <div class="row-container" *ngFor="let userlist of login;">
        <div class="row-item"><p>{{userlist.id}}</p></div>
        <div class="row-item"><p>{{userlist.username}}</p></div>
    
        <div class="row-item"><button class="btn1" (click)="deleteuser(userlist.id)">Delete</button></div>
        </div>
   
    </div>
  </div>
</div>
  


