<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="ff">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <img src="../assets/quizbg.png" alt="Quiz Logo" class="logo">
        
        <div class="container-fluid"  >
            <button routerLink="/register" class="resbtn">Register</button>
         </div>

      </nav>
    
    <!-- <header></header> -->
    
    
    <div class="cc" >
    
        <img src="../assets/boy.png" alt="A Image"width="700px" height="750px">
        <div class="card-gh" style="background-image: url('../assets/1077.jpg');">
        <h1>WELCOME TO</h1>
        <div class="h">
        <h1>QUIZ</h1>
    </div>
        <p>Welcome to the quiz app! This app is designed to test your knowledge on various topics and provide you with a fun and interactive way to learn new things.</p>
        <button routerLink="/login" class="btn">Let's Go</button>
    </div>
    </div>
    </div>
</body>
</html>
