<!-- 
<div class="total">
  <div class="sidebar" >
    <nav class="navbar">
      <a class="navbar-brand" style="color: white;font-family:'Poppins', sans-serif;font-size: 30px;">Quiz. Admin</a>
    </nav>
    <div class="sidebar-content" >
      <a class="nav-link" routerLink="question" routerLinkActive="active">Category</a>
      <a class="nav-link" routerLink="add" routerLinkActive="active">Add category</a>
      <a class="nav-link" routerLink="log" routerLinkActive="active">Add user</a>
      <a class="nav-link" routerLink="mark" routerLinkActive="active">Mark info</a>
      <a class="nav-link" routerLink="dashboard" routerLinkActive="active">User info</a>
      <a class="nav-link" routerLink="classroom" routerLinkActive="active">Classroom</a>

    </div>
  </div>

  <div class="content">

    <router-outlet></router-outlet>

  </div>
</div> -->


  

<body style="background-color: rgb(216, 249, 238);height: 100vh;overflow: scroll;overflow-x: hidden; ">
  



    <nav class="navbar" style="background-color:transparent;display: flex;flex-direction: row;justify-content: center;align-items: center;height: 60px;">
  
     
    <div class="nav_content" style="display: flex;flex-direction: row;gap: 40px;color: black;margin-top: 10px;" > 
      <a  style="font-family:'Poppins', sans-serif;">Quiz. Admin</a>
      <a class="nav-link"  href="#" routerLink="classroom" routerLinkActive="active">Classroom</a>
      <a class="nav-link"  href="#" routerLink="question" routerLinkActive="active">Category</a>
      <a class="nav-link"  href="#" routerLink="dashboard" routerLinkActive="active">User info</a>
      <a class="nav-link" href="#" routerLink="mark" routerLinkActive="active">Mark info</a>
      <a class="nav-link"   href="#" routerLink="add" routerLinkActive="active">Add category</a>
      <a class="nav-link"  href="#" routerLink="log" routerLinkActive="active">Add user</a>
      
     
      


    </div>
  </nav>
  

  <div class="content" >

    <router-outlet></router-outlet>

  </div>
</body>
