<div class="container" style="margin-top: 30px;width: 1000px;
display: flex;flex-direction: column;justify-content: center;align-items: center;background-color: white;border-radius: 10px;">

<h1 style="font-family: 'Josefin Sans', sans-serif;font-weight: bold;margin: 10px;">Classroom</h1>
<button class="btn1" routerLink="/createclass">Add Class</button>
<div class="cc">
    
    <div class="cont" style="display: flex;
    justify-content: space-between;" *ngFor="let class of classroom">
        

        <button class="card" [routerLink]="['/classroom/', class?.id]" >
            <div class="card-body" >
              <h3 class="card-title" style="font-family: 'Source Sans Pro',sans-serif;font-weight: bold;font-size:18px;"> {{ class?.classname }}</h3>
            
              <br>
            </div>
        </button>
        <button class="btn" (click)="deleteId(class.id)">Delete</button>
        

    </div>
    
</div>

</div>



